
<h1 class = "text-center">질문 작성</h1>
<form action="/ask/create" method = "POST">
    <input class="form-control" type="text" name = "question" placeholder="질문 내용 작성"><br/>
    <input class ="btn btn-dark" type="submit" value="확인">
    <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>"><br/>
</form>